.App {
  text-align: center;
}

.FlexRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.WrapMargin {
  flex-wrap: wrap;
  margin: 1em;
}

.CardClass {
  margin: 1em;
}

.FlexRowCenter {

}